*,::after,::before{box-sizing:border-box;margin:0;padding:0}
body{font-family: "Open Sans", sans-serif;margin:0;padding:0;background:#fff;font-size:16px;color:#000}
h1,h2,h3,h4{font-family: "Red Hat Display", sans-serif;margin: 0; padding: 0; text-transform: uppercase;}
img{max-width:100%;height:inherit}
.container{max-width:1280px;margin:0 auto}
ul{list-style:none;padding:0;margin:0}
a{text-decoration:none;color:#000}
.flex{display:flex}
.scrolltop {width: 35px;height: 35px;position: fixed;bottom: 65px;right: 50px;display: none;background-color: #2969F2;border-radius: 5px;z-index: 99;text-align: center;cursor: pointer;}
.scrolltop:after {border-bottom-style: solid;border-bottom-width: 2px;border-right-style: solid;border-right-width: 2px;content: "";display: inline-block;height: 14px;width: 14px;border-color: #fff;-moz-transform: rotate(225deg);-ms-transform: rotate(225deg);-webkit-transform: rotate(225deg);transform: rotate(225deg);margin-top: 14px;}
header .rgt_col{display:flex;align-items:center;justify-content:space-between}
header .logo img{display:block;max-width:190px}
.MenuBtn{display:none}
header .container{display:flex;justify-content:space-between;align-items:center}
.sticky .headerFX {background: rgb(255 255 255 / 100%);top: 0;-webkit-transition: all .3s ease;transition: all .3s ease;}
.headerFX{position: fixed;top: 0;width: 100%;z-index: 99;background: #fff;-webkit-transition: all .3s ease;transition: all .3s ease;padding: 5px 0;border-top: 5px solid #06103d;}
.navLinks li {display: inline-block;margin: 0 10px;-webkit-transition: all .3s ease;transition: all .3s ease;line-height: 57px}
.navLinks li a {font-family: "Open Sans", sans-serif;font-size: 17px;color: #000;font-weight: 500;text-transform: uppercase;line-height: 57px;position: relative;display: block;padding: 0 10px}
.navLinks li a::before {content: "";position: absolute;left: 0;right: 0;width: 0;height: 3px;background-color: #2969F2;bottom: 0;margin: 0 auto;-webkit-transition: all .5s ease;transition: all .5s ease}
.navLinks li:hover a{color: #2969F2;}
.navLinks li:hover a::before {width: 100%}
.navLinks .subMenu {display: none;background: #06103d;position: absolute;}
.navLinks .subMenu li {min-width: 132px;display: block;margin: 0;padding: 0 10px;}
.navLinks .subMenu li a {line-height: 40px;color: #fff;}
.navLinks .subMenu li a:hover{color: #2969F2;}
.navLinks li:hover .subMenu {display: block;}
.navLinks li.active .subMenu {display: block;}
.navLinks li.active a::before {width: 0;}
.navLinks li.drop-down>a::after {content: '';border: solid #000;border-width: 0 2px 2px 0;display: inline-block;padding: 2px;transform: rotate(45deg);-webkit-transform: rotate(45deg);position: absolute;right: -5px;top: 24px}
.navLinks li:hover .subMenu li a::before {width: 0}

.mainCarousel .slide_content{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:50%;text-align:center}
.mainCarousel .slide_content .slider-title{font-size:30px;line-height:36px;text-transform:uppercase;color:#fff;display:block;text-shadow:5px 5px 10px #000}
.mainCarousel .swiper-slide-active .slide_content .slider-title{animation:slideInRight 2.5s}
.mainCarousel .slide_content .slider-sub-title{font-size:54px;line-height:54px;font-family:"Red Hat Display", sans-serif,cursive;font-weight:400;color:#fff;text-transform:capitalize;display:block;text-shadow:5px 5px 10px #000}
.mainCarousel .swiper-slide-active .slider-sub-title{animation:slideInRight 2.5s}
.mainCarousel .slide_content .slideBTN{border-radius:50px;text-transform:uppercase;font-weight:600;font-size:22px;line-height:30px;color:#000;padding:5px 15px;background-color:#ffdc60;display:inline-block;margin-top:40px}
.mainCarousel .swiper-slide-active .slide_content .slideBTN{animation:slideInUp 2.5s}
.mainCarousel .swiper-slide{height:100vh;position:relative;overflow:hidden}
.mainCarousel .swiper-pagination .swiper-pagination-bullet{background:0 0;border:1px solid #fff;opacity:1;width:12px;height:12px;border-radius: 0;}
.mainCarousel .swiper-pagination .swiper-pagination-bullet-active{background:#fff}
.mainCarousel .swiper-slide .image_layer{position:absolute;left:0;top:0;right:0;width:100%;height:100%;background-repeat:no-repeat;background-position:center;background-size:cover;-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);-webkit-transition:all 6s linear;-moz-transition:all 6s linear;-ms-transition:all 6s linear;-o-transition:all 6s linear;transition:all 6s linear}
.mainCarousel .swiper-slide-active .image_layer{-webkit-transform:scale(1.15);-ms-transform:scale(1.15);transform:scale(1.15)}
.mainCarousel .swiper-slide .image_layer::after{content:'';background: linear-gradient(180deg,#000 11.46%,rgba(0,0,0,0) 38.02%);opacity:1;height:100%;width:100%;top:0;left:0;position:absolute;z-index:0}

.about_award{padding:50px 0;background-color:#fff;overflow: hidden;}
.heading .h2{font-weight: 500;font-size: 42px;line-height:50px;text-transform:uppercase;color:#000;margin-bottom:20px;padding-bottom: 20px;font-family:"Red Hat Display", sans-serif;position: relative;}
.heading .h2:before {content: "";position: absolute;display: block;width: 100px;height: 4px;background: #2969F2;bottom: 0;left: 0;}
.about_award .flex{align-items:center}
.about_award .rgt-col{width:400px;margin-left:30px;animation:fadeInRight 2s}
.about_award .lft-col{width:calc(100% - 430px);animation:fadeInLeft 2s}
.about_award .rgt-col .about_img{ background: #06103d; padding: 20px; border-radius: 10px; }
.about_award .rgt-col img{width:100%;display:block}
.about_award .lft-col h4{font-weight: 700;font-size: 24px;color: #000;padding-bottom: 10px;}
.about_award .lft-col p{color: #000;text-align: justify;font-size: 16px;line-height: 30px;margin-bottom: 15px;}
.about_award .lft-col p a{color: #2969F2;}
.about_award .lft-col .readmore {background: #2969F2;padding: 10px 20px;border-radius: 10px;color: #fff;font-size: 13px;font-weight: 400;text-transform: uppercase;display: inline-block;margin-bottom: 10px;}
.about_award .heading .h2{font-size: 28px;}
/* event starts here */
.compWork .heading{color: #ffffff;}
.compWork{background: #06103d url(../images/awards-header-swirl.svg);background-repeat: no-repeat; background-position: right center; background-size:contain; color: #fff;padding-bottom: 50px;padding-top: 50px;}
.compWork ul{display: flex;align-items: center;justify-content: space-between;flex-wrap: wrap;}
.compWork ul li{text-transform: uppercase;font-size: 20px;font-weight: 700;text-align: center;width: 24.5%;}
.compWork ul li .imgCont{background: #e6b331;border-radius: 100%;height: 125px;width: 125px;margin: 0 auto 15px;display: flex;align-items: center;justify-content: center;}
.compWork ul li span{display: block;}
.compWork ul li span em{font-size: 16px;}
.compWork ul li .imgCont{background: transparent; height: inherit; width: inherit;}
.compWork .numbers{font-size: 66px;color: #ffffff;line-height: 100px;}
.compWork ul li span{font-size: 20px;}

.services{padding: 50px 0;background-color: #f6ffff;}
.services figure{display: flex;justify-content: center;align-items: center;flex-wrap: wrap;}
.services figure.img_flip{flex-direction: row-reverse;}
.services figure .img_wrap{width: 50%;overflow: hidden;}
.services figure .img_wrap a{display: block;}
.services figure .img_wrap img{width: 100%;display: block;-webkit-transition: all .5s linear;transition: all .5s linear;-webkit-transform: scale3d(1,1,1);transform: scale3d(1,1,1);}
.services figure .img_wrap:hover img{-webkit-transform: scale3d(1.1,1.1,1);transform: scale3d(1.1,1.1,1);}
.services figure .box{width: 50%;}
.services .box {padding: 50px;position: relative;overflow: hidden;transition: all 0.3s ease-in-out;}
.services .title {font-weight: 700;margin-bottom: 15px;font-size: 24px;letter-spacing: 1px;}
.services .title a {color: #111;}
.services .description {font-size: 16px;line-height: 26px;margin-bottom: 10px;font-weight: 400;}
.services .readmore{font-size: 14px;font-weight: 400;color: #fff;margin: 15px 0;line-height: 20px;background: #000;display: inline-block;padding: 6px 10px;border-radius: 5px;}
.borderR1{border-radius: 10px 0 0 10px;}
.borderR2{border-radius: 0 10px 10px 0;}

.videosSec {background: url(../images/housing.jpg);background-size: cover;background-repeat: no-repeat;position: relative}
.videosSec::after {content: '';background: linear-gradient(265.4deg,rgba(0,0,0,0) 2.75%,rgba(0,0,0,.0625) 20.56%,#000 55.64%);
    opacity: .9;height: 100%;width: 100%;top: 0;left: 0;position: absolute;z-index: 0}
.videosSec .container{display: flex;flex-wrap: wrap;}
.videosSec .wrap_cont {position: relative; padding: 50px; z-index: 1;width: 60%;}
.videosSec .wrap_cont .heading .h2 {color: #fff;margin-bottom: 40px}
.videosSec .wrap_cont p{color: #fff; font-size: 18px; font-weight: 400; line-height: 26px; margin-bottom: 15px;}
.videosSec .cover-video {position: relative;width: 40%;}
.videosSec .cover-video a::after {content: '';opacity: 1;height: 100%;width: 100%;top: 0;left: 0;position: absolute;
    z-index: 0}
.videosSec .cover-video img {-webkit-transition: all .5s linear;transition: all .5s linear;-webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1)}
.videosSec .cover-video:hover img {-webkit-transform: scale3d(1.1,1.1,1);transform: scale3d(1.1,1.1,1)}
.videosSec .cover-video svg {position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);
    fill: transparent;width: 80px;height: 80px;z-index: 1}
.video-popup {position: fixed;top: 0;right: 0;bottom: 0;left: 0;display: flex;justify-content: center;
    align-items: center;z-index: 998;background: rgba(0,0,0,.8);
    cursor: pointer
}

.video-popup.show-video {
    display: flex!important
}

.iframe-wrapper {
    position: relative
}

.iframe-wrapper .close-video {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    top: -10px;
    right: -10px;
    background: #000;
    border-radius: 50%;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #fff;
    font-family: Montserrat,sans-serif
}

.video-popup .iframe-wrapper img {
    height: 100%;
    width: 100%
}

.video img {
    cursor: pointer
}

.ripple,.ripple:after,.ripple:before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -webkit-border-radius: 50% 50% 50% 50%;
    -moz-border-radius: 50% 50% 50% 50%;
    -ms-border-radius: 50% 50% 50% 50%;
    -o-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
    -webkit-box-shadow: 0 0 0 0 rgba(255,255,255,.6);
    -moz-box-shadow: 0 0 0 0 rgba(255,255,255,.6);
    -ms-box-shadow: 0 0 0 0 rgba(255,255,255,.6);
    -o-box-shadow: 0 0 0 0 rgba(255,255,255,.6);
    box-shadow: 0 0 0 0 rgba(255,255,255,.6);
    -webkit-animation: ripple 3s infinite;
    -moz-animation: ripple 3s infinite;
    -ms-animation: ripple 3s infinite;
    -o-animation: ripple 3s infinite;
    animation: ripple 3s infinite
}

.ripple:before {
    -webkit-animation-delay: .9s;
    -moz-animation-delay: .9s;
    -ms-animation-delay: .9s;
    -o-animation-delay: .9s;
    animation-delay: .9s;
    content: "";
    position: absolute
}

.ripple:after {
    -webkit-animation-delay: .6s;
    -moz-animation-delay: .6s;
    -ms-animation-delay: .6s;
    -o-animation-delay: .6s;
    animation-delay: .6s;
    content: "";
    position: absolute
}

@-webkit-keyframes ripple {
    70% {
        box-shadow: 0 0 0 70px rgba(253,167,0,0)
    }

    100% {
        box-shadow: 0 0 0 0 rgba(253,167,0,0)
    }
}

@keyframes ripple {
    70% {
        box-shadow: 0 0 0 70px rgba(253,167,0,0)
    }

    100% {
        box-shadow: 0 0 0 0 rgba(253,167,0,0)
    }
}

/*Photo Gallery */
.photogallery {padding: 60px 0 60px;background-color: #fffbf4;}
.photogallery .galleryListing{display: flex; justify-content: space-between; align-items: center;flex-wrap: wrap;}
.photogallery .galleryListing figure{margin-right: 2%;margin-bottom: 40px;width: 32%;background: #06103d;padding: 11px;border-radius: 30px 0 30px 0;}
.photogallery .galleryListing figure:nth-child(3n+3){margin-right: 0;}
.photogallery .photocard{padding-bottom: 40px;}
.photogallery .galleryListing figure .picWrap{overflow: hidden;}
.photogallery .galleryListing figure .picWrap img{-webkit-transition: all .5s linear;transition: all .5s linear;-webkit-transform: scale3d(1,1,1);transform: scale3d(1,1,1);}
.photogallery .galleryListing figure .picWrap:hover img{-webkit-transform: scale3d(1.1,1.1,1);transform: scale3d(1.1,1.1,1);border-radius: 30px 0 30px 0;}
.photogallery img {width: 100%;aspect-ratio: 3/2;border-radius: 30px 0 30px 0;overflow: hidden;display: block;}
.photogallery a {color: #000000;}
.lb-dataContainer {position: absolute;top: -35px;left: 0;right: 0;}
.lb-data .lb-details {width: 80% !important;}
.photogallery .lb-nav a.lb-prev {background: url(../img/prev.png) left 48% no-repeat;}
.photogallery .lb-nav a.lb-next {background: url(../img/next.png) right 48% no-repeat;}
.photogallery .lb-data .lb-close {background: url(../img/close.png) top right no-repeat;}

.contactLink {padding: 60px 0;overflow: hidden;text-align: center;background: #2969F2;position: relative;}
.contactLink h4 {
    font-size: 16px;
    font-weight: 500;
    color: #06103d;
}
.contactLink .request-link {
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
    position: relative;
    font-family: inherit;
    color: #06103d;
    font-weight: 800;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -1px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.contactLink .request-link:before {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    height: 4px;
    bottom: 0px;
    background: #06103d;
    -webkit-transition: height 1.1s;
    transition: height 1.1s;
}
.contactLink:after {
    content: "";
    position: absolute;
    background: #06103d;
    width: 70px;
    height: 70px;
    line-height: 70px;
    transform: rotate(45deg);
    margin: 0px auto;
    left: 0;
    right: 0;
    bottom: -55px;
}

/*---# Footer---*/
#footer {background: #06103d url(../images/secondary-header-bg.png) right bottom; color: #eee;font-size: 14px; background-repeat: no-repeat; background-size: contain;}
#footer .footer-top {padding: 60px 0 30px 0;flex-wrap: wrap;}
#footer .footer-top{display: flex; justify-content: space-between;} 
#footer .footer-top figure{width: 25%;padding: 20px;}
#footer .footer-top .social-links a {font-size: 18px;display: inline-block;color: #fff;line-height: 1;padding: 8px 0;margin-right: 10px;border-radius: 50%;text-align: center;width: 30px;height: 30px;transition: 0.3s;}
#footer .footer-top .social-links a:hover {color: #fff;}
#footer .footer-top h4 {font-size: 16px;font-weight: bold;color: #fff;text-transform: uppercase;position: relative;padding-bottom: 21px;}
#footer .footer-top .footer-links ul {list-style: none;padding: 0;margin: 0;}
#footer .footer-top .footer-links ul li {padding: 10px 0;}
#footer .footer-top .footer-links ul li:first-child {padding-top: 0;}
#footer .footer-top .footer-links ul a {color: #ffffff;}
#footer .footer-top .footer-links ul a:hover {color: #74b5fc;}
#footer .footer-top .footer-contact p {line-height: 31px;color: #fff;}
#footer .copyright {text-align: left;padding-top: 15px;padding-bottom: 15px;}

.foot_bot {display: flex; align-items: center; justify-content: space-between;flex-wrap: wrap;}
.foot_bot .other_links ul{display: flex; align-items: center;}
.foot_bot .other_links ul li{margin-left: 20px;padding: 5px 0;}
.foot_bot .other_links ul a{color: #fff;}

.inner_banner .banner_wrapper{height:370px;position:relative}
.inner_banner .banner_wrapper .image_layer{position:absolute;top:0;left:0;right:0;height:100%;width:100%;background-repeat:no-repeat;background-position:center;background-size:cover}
.inner_banner .banner_wrapper .image_layer::after{content:'';background:linear-gradient(180deg,#000 0,rgba(0,0,0,0) 100%);height:100%;width:100%;top:0;left:0;position:absolute;z-index:0}
.inner_banner .banner_wrapper .banner_text{position:absolute;bottom: -4px;max-width: 1220px}
.inner_banner .banner_wrapper .banner_text .banner-title{font-weight:400;font-size:54px;line-height:46px;text-align:center;text-transform:uppercase;color:#fff;font-family:"Red Hat Display", sans-serif}
.categoryPage_Wrapper{padding: 30px 0;}
.categoryPage_Wrapper .heading .h2{text-align:left;margin-bottom:40px;margin-top: 20px;}
.categoryPage_Wrapper .staticPage p{font-weight:400;font-size:16px;line-height:28px;color:#555;margin-bottom:10px}
.categoryPage_Wrapper .staticPage strong{font-weight:700;text-transform:uppercase}
.categoryPage_Wrapper .staticPage p a{color:#d3272a}
.categoryPage_Wrapper .staticPage ul{padding-left: 30px; list-style: disc;}
.categoryPage_Wrapper .staticPage ul li{padding: 8px 0; font-size: 16px; line-height: 22px; font-weight: 400;}
.categoryPage_Wrapper .flex{flex-wrap:wrap}
.categoryPage_Wrapper figure{width:31.33%;margin:0 3% 3% 0;height: 100%;}
.categoryPage_Wrapper figure:nth-child(3n+3){margin-right:0}
.categoryPage_Wrapper figure .imgwrap{position:relative}
.categoryPage_Wrapper figure .imgwrap img{display:block;width:100%;margin-bottom:40px}
.categoryPage_Wrapper figcaption h3{font-weight:400;font-size:16px;line-height:28px;text-transform:capitalize;color:#555}
.categoryPage_Wrapper .slideBTN{border-radius:50px;text-transform:uppercase;font-weight:600;font-size:22px;line-height:30px;color:#000;padding:5px 15px;background-color:#ffdc60;display:inline-block;position:absolute;transform:translateX(-50%);left:50%;bottom:-20px}

.about-us h6{text-transform: uppercase; font-size: 16px;font-weight: 600; }
.about-us h4{text-transform: uppercase;font-size: 18px;font-weight: 700;margin-bottom: 18px;border-bottom: 1px dashed #000;display: inline-block;margin-top: 10px;}
.about-us .about-img{display: flex; justify-content: center; align-items: center;}
.about-us .about-img img{width: 100%; height: auto;}
.about-us p{font-size: 18px; line-height: 30px; text-align: left; padding-bottom: 0;text-align: justify;}
.about-us p:first-child{display: inline-flex;}
.about-us p img{margin-right: 20px;}
.about-us span{margin-bottom: 14px;display: block;font-style: italic;font-weight: 500;}
.about-us li{margin-bottom: 10px;}

.contact .address_details{display: flex; flex-wrap: wrap; justify-content: space-between;margin: 40px 0;}
.contact .address_details .cont-text{width: 47%; margin-right: 3%;margin-bottom: 40px;}
.contact .address_details .cont-text:last-child{margin-right: 0;}
.contact span a {font-size: 20px;border-bottom: 3px solid #06103d;cursor: pointer;color: #06103d;font-weight: 600;}
.contact span{display: block; padding: 5px 0;}
.contact span a:hover{color: #2969F2; border-bottom: 3px solid #2969F2;}
.contact h4 {font-size: 16px;font-weight: 500;color: #06103d;}
.contact .add_map{margin-bottom: 30px;display: flex;align-items: center;justify-content: center;flex-wrap: wrap;}
.contact .add_map .cont-text{width:31.33%; margin: 0 3% 2% 0;border: 2px solid #06103d;border-radius: 8px;}
.contact .add_map .cont-text:last-child{margin-right: 0;}
.contact .add_map .cont-text span{font-size: 16px;line-height: 22px;padding: 12px 0; text-align: center; font-weight: 500;display: block;background: #06103d; color: #fff;text-transform: uppercase;}

.why_cstpl h2{font-size: 32px; font-weight: 700; margin-bottom: 40px;}
.why_cstpl .cstpl_rea {display: flex;justify-content: space-between;margin-top: 75px;flex-wrap: wrap;}
.why_cstpl .cstpl_rea figure{width: 18.4%;margin: 0 2% 4% 0;position: relative;border: 2px solid #000;padding: 40px 15px 20px 15px;border-radius: 15px;}
.why_cstpl .cstpl_rea figure:last-child{margin-right: 0;}
.why_cstpl .cstpl_rea figure span{
    background: #000000;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 40px;
    position: absolute;
    border-radius: 10px;
    border: 2px solid #000000;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -34px;
    font-weight: 600;
    }

.why_cstpl .cstpl_rea figure figcaption h3{
    font-size: 22px;
    font-weight: 600;
    color: #000;
    margin-bottom: 10px;
}
.why_cstpl .cstpl_rea figure figcaption p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
} 

.leaders_sec{display: flex;flex-wrap: wrap;margin-bottom: 40px;padding: 40px 60px; }
.leaders_sec .sub-heading{position: relative;}
.leaders_sec .sub-heading h2{font-size: 28px;font-weight: 500;line-height: 36px;margin-bottom: 5px;}
.leaders_sec .sub-heading h4{font-size: 16px;font-weight: 600;}
.leaders_sec .leader_img{width: 400px;margin-right: 30px;background: url(../images/leader_bg.png);
    background-position: left top;
    background-size: 50%;
    background-repeat: no-repeat;
    padding-left: 12px;
    padding-top: 11px;}
.leaders_sec .leader_img img{border-radius: 20px;}
.leaders_sec .leader_img h3{font-size: 18px; font-weight: 500; text-align: center;}
.leaders_sec .about_leader{width: calc(100% -  430px);} 
.leaders_sec .about_leader p{font-size: 16px;line-height: 30px;margin-bottom: 10px;text-align: justify;}

.common_teams{display: flex;flex-wrap: wrap;justify-content: space-between;}
.common_teams figure {
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius:10px;
    box-shadow: 5px 6px 28px #dbdbdb;
    margin-bottom: 40px;
    margin-right: 0;
    flex-wrap: wrap;
    
}
.common_teams figure .image_wrap {
    text-align: center;
    width: 200px;
}
.common_teams figure .image_wrap img {
    border-radius: 20px;
    height: 200px;
    width: 200px;
    border: 1px solid #000;
}
.common_teams figure h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
}
.common_teams figure small {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    display: block;
}
.common_teams figure figcaption {
    width: calc(100% - 220px);
    margin-left: 20px;
}
.common_teams figure figcaption p {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 6px;
    text-align: justify;
}
.photosDvs{display: flex; flex-wrap: wrap; justify-content: space-between;}
.photosDvs figure{background: #2969F2; margin-bottom: 20px; padding: 6px; border-radius: 5px; }
.photosDvs figure .img_wrap{overflow: hidden;}
.photosDvs figure .img_wrap img{border-radius: 5px; display: block;-webkit-transition: all .5s linear;transition: all .5s linear;-webkit-transform: scale3d(1,1,1);transform: scale3d(1,1,1); height: 100%; width: 100%;}
.photosDvs figure .img_wrap:hover img{-webkit-transform: scale3d(1.1,1.1,1);transform: scale3d(1.1,1.1,1);}
.exam_details h2{text-transform: uppercase;font-size: 26px;font-weight: 600;margin-bottom: 10px;border-bottom: 1px dashed #000;display: inline-block;}
.exam_details p{font-size: 18px;line-height: 30px;text-align: left;padding-bottom: 0;text-align: justify;margin-bottom: 10px;}
.exam_details ul{padding-left: 30px;list-style: disc;}
.exam_details ul li{padding: 8px 0;font-size: 16px;line-height: 22px;font-weight: 400;}
.exam_details span{display: block;font-size: 16px;line-height: 22px;font-weight: 400;padding: 8px 0;}
.exam_details span strong{font-weight: 600;}
.exam_details a{display: block;
    text-decoration: underline;
    text-align: center;
    color: #2969F2;
    font-size: 18px;
    margin: 20px;
    text-transform: uppercase;
    font-weight: 700;}
 
@media(max-width:767px){
.flex{flex-wrap:wrap}
.container{width:100%;padding:0 10px;box-sizing:border-box}
header .left_col{display:flex;align-items:center;justify-content:flex-start}
header .logo img{width: 140px;height:inherit}

#toggleDiv {
    display: block
}

.MenuBtn {
    cursor: pointer;
    display: block;
    transition: all .5s cubic-bezier(.55, 0, .1, 1)
}

.MenuBtn i {
    width: 25px;
    display: block;
    border-top: 2px solid #000;
    padding-top: 5px
}

.MenuBtn i:nth-child(3) {
    padding-top: 0
}

body.openMenu .headerFX {
    background: rgb(255 255 255 / 100%);
}

body.openMenu .MenuBtn i {
    padding-top: 0
}

body.openMenu .MenuBtn i:first-child {
    transform: translateY(2px) translateX(0) rotate(45deg);
    background: #fff
}

body.openMenu .MenuBtn i:nth-child(2) {
    opacity: 0;
    background: #fff
}

body.openMenu .MenuBtn i:nth-child(3) {
    transform: translateY(-2px) translateX(0) rotate(-45deg);
    background: #fff
}
#navBar {
    -webkit-transition: height .25s ease;
    -o-transition: height .25s ease;
    transition: height .25s ease
}

#navBar:not(.active) {
    display: none
}

.navLinks.active {
    display: block
}

.navLinks {
    width: 100%;
    display: none;
    float: left;
    padding: 0;
    color: #fff;
    position: fixed;
    top: 72px;
    left: 0;
    z-index: 8;
    height: 100vh;
    overflow: auto;
    background: rgb(255 255 255 / 100%);
    padding-bottom: 150px;
}

.navLinks li {
    display: block
}
.navLinks li.drop-down>a::after{right: 5px;}
.heading .h2:before{margin: 0 auto; right: 0;}

.services figure .img_wrap,.services figure .box{width: 100%;}
.services figure .box{padding: 20px;}
.services figure .img_wrap img{border-radius: 10px;}
.videosSec .cover-video{width: 100%;height: 230px;}
.photogallery .galleryListing figure{width: 100%; margin-right: 0;}

.navLinks li {
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.navLinks li:last-child {
    border-bottom: 0;
}

.navLinks li:hover .subMenu {
    display: none;
}

.navLinks li.hassubmenu>a::after {
    right: 0
}

.navLinks li.active .subMenu {
    position: inherit;
    display: block;
    background: #fff;
}
.navLinks li.active .subMenu a{color: #000;}

#footer .footer-top figure{width: 100%; text-align: center;}


.socialtop svg{width:20px;height:20px}
.heading .h2{font-size:38px;line-height:50px;text-align:center}
.categoryPage_Wrapper .heading .h2{margin-bottom:20px;text-align: center;}
.about_award .lft-col,.lhs,.rhs{width:100%}
.about_award .rgt-col{width:100%;margin-left:0}
.about_award .lft-col p{text-align:justify}
.goodsGadgets_wrapper .quote-box,.hospitality_wrapper .quote-box{position:relative;right:0}
.goodsGadgets_wrapper .box-wrap,.hospitality_wrapper .box-wrap{margin-bottom:30px;padding-bottom:0}
.goodsGadgets_wrapper .checkList li,.hospitality_wrapper .checkList li{width:100%}
.goodsGadgets_wrapper .imgThumbswrap img,.hospitality_wrapper .imgThumbswrap img{width:48%;margin-top:20px}
.goodsGadgets_wrapper .flex{flex-direction:column-reverse}
.goodsGadgets_wrapper .quote-box .text,.hospitality_wrapper .quote-box .text{font-size:20px;line-height:32px}
.foodBev_wrapper .wrap_cont,.videosSec .wrap_cont{width:100%;padding:20px 0}
.foodBev_wrapper .wrap_cont .clickbtn a,.videosSec .wrap_cont .clickbtn a{margin-top:20px}
.about_award,.awardPartner_wrapper,.goodsGadgets_wrapper,.hospitality_wrapper{padding:20px 0}
.clickbtn a{margin:20px 0}
.foodBev_wrapper .wrap_cont .clickbtn,.videosSec .wrap_cont .clickbtn{justify-content:center}
.mainCarousel .slide_content{width:90%}
.mainCarousel .slide_content .slider-title{font-size:24px}
.mainCarousel .slide_content .slider-sub-title{font-size:50px;line-height:60px}
.foodBev_wrapper::after,.videosSec::after{background:rgba(0,0,0,.5)}
.iframe-wrapper iframe{max-width:340px;height:100%;aspect-ratio:16/9}
.inner_banner .banner_wrapper{height:260px}
.categoryPage_Wrapper{padding:20px 0}
.categoryPage_Wrapper figure{width:100%;margin-right:0;margin-bottom:40px}
.inner_banner .banner_wrapper .banner_text .banner-title{font-size:38px;line-height:1}
.mainCarousel .slide_content .slideBTN{margin-top:30px}
.about-us p:first-child{display: inherit;}
.about-us p img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
}
.contact .address_details .cont-text{width: 100%; margin-right: 0;text-align: center;}
.add_map iframe{width: 100%;}
.compWork ul li{margin-bottom: 35px;width: 47%;padding: 0 6px;font-size: 16px;}
.compWork .numbers{font-size: 48px;}
.compWork ul li span{font-size: 19px;}
.foot_bot .other_links ul li:first-child{margin-left: 0;}
.why_cstpl h2{font-size: 26px; line-height: 36px;}
.why_cstpl .cstpl_rea figure{width: 100%; margin-bottom: 60px;}
.leaders_sec .leader_img{width: 100%; margin-right: 0;}
.leaders_sec .about_leader{width: 100%;}
.leaders_sec .about_leader p{text-align: justify;}
.common_teams figure .image_wrap{margin: 0 auto; margin-bottom: 15px;}
.common_teams figure figcaption{width: 100%;margin-left: 0; text-align: justify;}
.contact .add_map .cont-text{width: 100%; margin-right: 0;}
}   